.PicaEventReel {
	height: 100%;
	width: 100%;
	background-color: #d3d3d3;
}
.header {
	height: 15%;
	position: absolute;
	top: 0;
	background-color: #d3d3d3;
	text-align: center;
	width: 100%;
}

.title {
	height: 50%;
	width: 80%;
	position: absolute;
	left: 1.25%;
	top: 25%;
	text-align: left;
}

.arrows {
	height: 50%;
	width: 10%;
	position: absolute;
	top: 25%;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#leftArrow {
	right: 10%;
}

#rightArrow {
	right: 0;
}

.arrows:hover {
	background-color: inherit;
}

.reel {
	width: 97.5%;
	position: absolute;
	top: 15%;
	left: 1.25%;
	height: 85%;
}