.PicaBody{
	width: -webkit-calc(100% - 240px); /* google, safari */
	width: -moz-calc(100% - 240px); /* firefox */
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: black;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}

.RouterContent {
	height: auto;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
		height: 0px;  /* remove scrollbar space */
    background: transparent;  /* make scrollbar invisible */
}

@media (max-width: 767.98px) {
	.PicaBody {
		height: -webkit-calc(100% - 40px); /* google, safari */
		height: -moz-calc(100% - 40px); /* firefox */
		width: 100vw;
		overflow-y: scroll;
		overflow-x: hidden;
		background-color: red;
		position: fixed;
		bottom: 0;
	}
}
