.carousel-caption {
  background-color: black;
  opacity: .69;
  left: 15.23%;
  right: 15.23%;
}



.carousel-caption h3 {
  font-size: 3rem!important;
}

.Work i {
  font-size: 4rem;
}
.carousel a {
  color: black;
}

.carousel a:hover {
  color: grey;
  border-bottom: 0px;
}
