.PicaArtistArchive{
	height: 100%;
	width: 100%;
	text-align: left;
}

.Navigation{
	background-color: #e4e4e4;
	height: 100%;
	width: 240px;
	align-content: left;
	position: absolute;
	top: 0;
	left: 0;
	padding: 32px;
}

.Results {
	background-color: white;
	height: 100%;
	width: calc(100% - 240px);
	align-content: left;
	position: absolute;
	top: 0;
	right: 0;
	overflow: scroll;
}

.button {
	position: absolute;
	top: 0;
	right: 32px;
	line-height: 1;
	height: 48px;
	width: 48px;
	font-size: 48px;
}

.SearchButton {
	margin: .25rem;
	text-align: left;
	color: black;
}

.SearchButton:hover{
	cursor: pointer;
}

.search {
	position: absolute;
	left: 32px;
	bottom: 10%;
}

#search {
	background-color: inherit;
	border: solid black;
	border-width: 0px 0px 1px 0px;	
}

#search:focus {
	border: solid black;
	border-width: 0px 0px 1px 0px;
	outline: white;
}