.PicaArtistBlock {
	height: 10%;
	width: 100%;
	position: relative;
	background-color: inherit;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #F8F8F8;
	z-index: 3;
}

.content {
	position: absolute;
	background-color: #ECDDBB;
	top: 0;
	left: 0;
	height: 400%;
	width: 100%;
	z-index: 1;
}

.button {
	position: absolute;
	top: 40%;
	right: 10%;
	height: 48px;
	width: 48px;
	font-size: 48px;
}

.section {
	height: 10%;
	width: 100%;
	position: relative;
	background-color: #F8F8F8;
	z-index: 3;
}

.cardImage {
	width: 50%;
	height: 80%;
	background-color: red;
	position: absolute;
	left: 5%;
	top: 5%;
	background-position: center;
	background-size: cover;
}
.cardContent {
	width: 38%;
	height: 80%;
	background-color: lightgray;
	position: absolute;
	right: 5%;
	top: 5%;
}

.headerActive, .header:hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: #ECDDBB;
}

.headerUp {
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
			transform: translateY(0%);
	transition: transform 500ms linear;
}

.headerDown {
	-webkit-transform: translateY(400%);
	-ms-transform: translateY(400%);
			transform: translateY(400%);
	transition: transform 500ms linear;
}

.sectionUp {
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
			transform: translateY(0%);
	transition: transform 500ms linear;
}

.sectionDown {
	-webkit-transform: translateY(800%);
	-ms-transform: translateY(800%);
			transform: translateY(800%);
	transition: transform 500ms linear;
}

.contentClosedUp {
	-webkit-transform: translateY(-75%);
	-ms-transform: translateY(-75%);
			transform: translateY(-75%);
	transition: transform 500ms linear 250ms;
	visibility: hidden;
}

.contentClosedDown {
	-webkit-transform: translateY(125%);
	-ms-transform: translateY(125%);
			transform: translateY(125%);
	transition: transform 500ms linear 250ms;
	visibility: hidden;
}

.contentClosingUp {
	-webkit-transform: translateY(-75%);
	-ms-transform: translateY(-75%);
			transform: translateY(-75%);
	transition: transform 500ms linear 250ms;
}

.contentClosingDown {
	-webkit-transform: translateY(125%);
	-ms-transform: translateY(125%);
			transform: translateY(125%);
	transition: transform 500ms linear 250ms;
}

.contentOpen {
	-webkit-transform: translateY(24.95%);
	-ms-transform: translateY(25%);
			transform: translateY(24.95%);
	transition: transform 500ms linear;
	z-index: 2;
}

.hidden {
	opacity: 0;
	transition: transform 1000ms ease-in;
}
