body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'MabryPro';
  src: url('fonts/MabryPro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'BiancoSerif';
  src: url('fonts/Bianco_Serif_New.otf') format('opentype');
}
