.PicaCarouselCard {
	height: 90%;
	width: 75%;
	position: absolute;
	top: 10%;
	left: 0;
}

.cardImage {
	height: 70%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	background-size: cover;
	background-position: center;
}

.cardInfo {
	height: 30%;
	width: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.cardContent {
	height: 30%;
	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.buyButton {
	border: 1px solid black;
	width: 70%;
	margin: auto;
}

.buyButton:hover {
	background-color: yellow;
	cursor: pointer;
}



.activeLeft {
	z-index: 1;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
			transform: translateX(0%);
	transition: transform 500ms linear;
}

.inactiveRight2 {
	z-index: 2;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
			transform: translateX(100%);
	transition: transform 500ms linear;
}

.inactiveRight {
	z-index: 3;
	-webkit-transform: translateX(116.66%);
	-ms-transform: translateX(116.66%);
			transform: translateX(116.66%);
	transition: transform 500ms linear;
}

.inactiveLeft {
	z-index: 1;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
			transform: translateX(0%);
	transition: transform 500ms linear;
}

.active {
	z-index: 2;
	-webkit-transform: translateX(16.66%);
	-ms-transform: translateX(16.66%);
			transform: translateX(16.66%);
	transition: transform 500ms linear;
}

.activeRight {
	z-index: 3;
	-webkit-transform: translateX(33.33%);
	-ms-transform: translateX(33.33%);
			transform: translateX(33.33%);
	transition: transform 500ms linear;
}

.inactiveLeft2 {
	z-index: 2;
	-webkit-transform: translateX(16.66%);
	-ms-transform: translateX(16.66%);
			transform: translateX(16.66%);
	transition: transform 500ms linear;
}

.unmountedLeft {
	z-index: 0;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
			transform: translateX(0%);
	transition: transform 500ms linear;
}

.unmountedRight {
	z-index: 0;
	-webkit-transform: translateX(120%);
	-ms-transform: translateX(120%);
			transform: translateX(120%);
	transition: transform 500ms linear;
}

.unmounted {
	display: none;
	z-index: 0;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
			transform: translateX(0%);
}
