.TBADateSelector {
	width: 300px;
	height: 40px;
	border: 1px black solid;
	background-color: white;
	font-size: 28px;
}

.header {
	padding: 0px 0px 0px 10px;
	color: black;
}

.header :hover {
	cursor: pointer;
	color: black;
}

.options {
	color: black;
	padding: 0px 0px 0px 2px;
	position: absolute;
	width: 298px;
	max-height: 60vh;
	z-index: 1000;
	background-color: lightgrey;
	display: none;
	overflow: hidden scroll;
}

.options :hover {
	cursor: pointer;
	color: black;
	text-decoration: underline;
}

.open {
	display: block;
}
